/****************GENERAL******************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}


#main-content {
    display: flex;
    flex-direction: column;
}

title {
    text-align: center;
}
/***************************PARTIALS**************************/

#nav-constant{
    display: flex;
    flex-direction: row;
    padding: 0 30px 0 30px;
}
#nav-constant h1{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#nav-constant img{
    width: 85px;
}
#nav-constant a{
    text-decoration: none;
    color: black;
    margin: 5px 0 5px 0;
}
#nav-constant ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    gap: 5%;
    flex-direction: row;
}

#nav-constant li{
    list-style: none;
    
}
/*************Base.Html*******************/

.logo{
    flex: 1;
}
.pseudo-log{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}

.pseudo-log p{
    align-items: center;
    display: flex;
    justify-content: center;
}

#title_base{
    display: flex;
    flex-direction: row;
    padding: 0 30px 0 30px;
}
#title_base h1{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
#title_base img{
    width: 85px;
}
#title_base a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#title_base ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    gap: 5%;
    flex-direction: row;
}

#title_base li{
    list-style: none;
    
}

#home-header {
    position: relative;
    min-height: 60vh;
}
 
.videoHome {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

.video-home-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.video-home-page p {
    font-size: 2em;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

#img-header{
    object-fit: cover;
    object-position: 50% 50%;
    padding: 50px;
}

.theme{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/**************CATEGORY*************/

.category_nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 30px;
}
.category_nav a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    border-radius: 5px;
    padding: 10px;
}
.category_nav a:hover {
    background: #282828;
    color: white;
}

.index_category{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.banniere-theme {
    min-height: 60vh;
    position: relative;
}

.img-banniere-theme {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-banniere-theme figure{
    height: 400px;
}

.img-banniere-theme img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#title-detail-category {
    font-size: 3em;
    position: absolute;
    text-align: center;
    bottom: 50%;
    left: 50%;
    color: #fff;
}


/********************HOME PAGE*******************/

#category-nav-home-page{
    min-height: 10vh;
}

.title-event-home{
    text-align: center;
    font-size: 2em;
}

/**********************CARD PAGE D'ACCEUIL**************/

#title-home-page-main{
    display: flex;
    flex-direction: column;
}
#main-home-page{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

  
#carousel-avis-home{  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.message-complet-event{
    background-color: red;
    border-radius: 5px;
    font-size: 1.5em;
}
.icons-events{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.icons-events i{
    color: black;
}
.icons-events i:hover{
    color: blue;
    
}
.fa-brands fa-gratipay:hover{
color: green;
background-color: white;

}


/****************COMMENTAIRES************/

#comment-home-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.title-commentaire-home{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title-commentaire-home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-home-avis{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    width: 70%;
    gap: 30px;
}


.card-home-page{
    display: flex;
    flex-direction: column;
    gap: 20;
}
#slide{
    /* position: absolute; */
    height: 50vh;
    border-style: ridge;
    border-color: black;
    border-width: thin;
    width: 25%;
    border-radius: 5px;
    padding: 25px;
}

/**********************PARALLAX***********************/

#parallax {
    background-image: url("/img/randonnée.jpg");
    display: flex;
    justify-content: center;
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallax img {
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
    width: 100%
}
.parallax-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 20px;
}
.parallax-block button {
    padding: 10px;
    width: 13%;
    font-size: 1.2em;
    border-style: ridge;
    border-color: black;
    color: black;
    border-radius: 11px;
    background: rgba(0, 0, 0, 0.0);
}
.parallax-block p {
    font-size: 1.2em;
}


/***********************FOOTER******************/

footer{
    background-color: #282828;

}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url("/img/footer.jpg");
    /* background: linear-gradient(4deg, rgba(12,2,35,1) 0%, rgba(24,23,73,1) 41%, rgba(60,125,184,1) 100%); */
    color: white;
    padding: 50px 0px 20px 0px;
}
.text-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-footer a{
    text-decoration: none;
    color: violet;
}

small{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #282828;
}
.terms-footer{
    text-align: center;
    background-color: #282828;
    color: white;
}
.terms-footer a{
    color: violet;
}

.information-footer{
    border-style: ridge;
    border-color: white;
    border-width: thin;
    border-radius: 5px;
    padding: 10px;
}
.information-footer p {
    color: white;
}

/**************************CATEGORY*************************/
#theme-category {
    min-height: 100vh;
}

.detail-theme-category {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.theme-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.figure-theme-category {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 40px 0 0px 0;
}

.figure-theme-category img {
    object-fit: cover;
    object-position: 50% 50%;
    height: 70%;
    width: 60%;
    border-radius: 50%;
}



.theme-item a {
    text-decoration: none;
    font-size: 2em;
    display: block;
    color: white;
    padding: 100px;
    border-radius: 5px;
    position: absolute;
    bottom: 45%; /* Position au milieu de la figure */
    left: 0;
    right: 0;
    transform: translateY(50%); /* Ajustement pour le centrage vertical */
    text-align: center;
}



/**********************THEME**********************/

.detail-theme img{
    position: relative;
    height: 400px; /* Hauteur fixe pour l'image */
    width: 100%;
    object-fit: cover;

}

.img-detail-theme {
    position: relative;
}


#title-detail-theme {
    position: absolute;
    text-align: center;
    top: 50%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px; /* Ajustez la taille du texte selon vos préférences */
    z-index: 1; /* Assurez-vous que le titre est au-dessus de l'image */
}


/**********************CARD EVENT DANS THEME*********************/

#detail-event-theme {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail-theme {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container:hover .figcaption {
    transform: rotateX(-10deg) rotateY(-10deg);
}

.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: red;
    z-index: 1;
}

figcaption {
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    transform: rotateX(0) rotateY(0);
    transition: transform 0.5s, box-shadow 0.5s;
}

figcaption:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

figcaption h3 {
    margin-bottom: 10px;
    color: #2c3e50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icons-events {
    margin-bottom: 15px;
}

.icons-events a {
    margin-right: 10px;
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.icons-events a:hover {
    color: green;
}

p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.edit-link {
    color: #27ae60;
    text-decoration: none;
    transition: color 0.3s;
}

.edit-link:hover {
    color: #1d8348;
}

.icons-and-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons-events {
    display: flex;
    gap: 10px;
}

p {
    margin-left: auto;
}

/* Styles pour les cartes */
#card-home-page {
    margin: 30px 0 30px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 50px;
}

#card-home-page-event {
    transition: transform .2s;
    float: left;
    width: 25%;
    text-align: center;
    overflow: hidden;
}

#card-home-page-event:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#card-home-page-event img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

#card-home-page-event figcaption {
    display: flex;
    flex-direction: column;
    gap: 9px;
    text-align: center;
}


/**********PARTICIPANT EVENT AVATAR***************/

/* Ajoutez cette classe pour styliser les cercles */
.circle-avatar {
    display: inline-block;
    width: 30px; /* Ajustez la taille du cercle selon vos besoins */
    height: 30px; /* Ajustez la taille du cercle selon vos besoins */
    /* background-color: #3498db; Couleur de fond du cercle */
    color: black; /* Couleur du texte dans le cercle */
    text-align: center;
    border-radius: 50%; /* Rend le div en forme de cercle */
    line-height: 30px; /* Centre le texte verticalement */
    margin-right: 5px; /* Marge à droite pour espacement entre les cercles */
}

/**************PAGINATION*************/
#pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}



/********************RESPONSIVE TABLETTE*************/
/* Ajoutez ces règles de médias pour les tablettes */
@media only screen and (max-width: 768px) {
    /* Général */
    body {
        font-size: 14px;
    }

    /* Navigations et en-têtes */
    #nav-constant {
        padding: 0 15px;
    }

    .pseudo-log {
        gap: 20px;
    }

    #title_base {
        padding: 0 15px;
    }

    #home-header {
        min-height: 40vh;
    }

    .videoHome p {
        font-size: 1.5em;
    }

    .category_nav a {
        font-size: 1em;
        padding: 8px;
    }

    .title-event-home {
        font-size: 1.5em;
    }

    /* Cartes et éléments de la page d'accueil */
    #card-home-page-event {
        width: 50%;
    }

    .icons-events i {
        font-size: 1.2em;
    }

    .edit-link {
        font-size: 0.9em;
    }

    /* Catégorie et thème */
    .detail-theme-category a {
        font-size: 1em;
        padding: 8px;
    }

    .detail-theme img {
        height: 300px;
    }

    #detail-event-theme {
        flex-direction: column;
    }

    /* Pied de page */
    .footer {
        flex-direction: column;
    }
}

/************************RESPONSIVE MOBIl******************/

/* Ajoutez ces règles de médias pour les écrans mobiles */
@media only screen and (max-width: 480px) {

    /********************* GÉNÉRAL *********************/

    body {
        font-size: 12px;
    }

    /********************* NAVIGATIONS ET EN-TÊTES *********************/

    #nav-constant {
        padding: 0 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .pseudo-log {
        gap: 10px;
    }

    #title_base {
        padding: 0 10px;
    }

    #nav-constant h1 {
        margin-bottom: 10px;
    }

    #nav-constant ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    /********************* PAGE D'ACCUEIL *********************/

    #home-header {
        min-height: 30vh;
    }x

    .videoHome p {
        font-size: 1.2em;
    }

     /* Dropdown container */
     .dropdown {
        position: relative;
        display: inline-block;
    }


    /* Contenu du dropdown (masqué par défaut) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Liens à l'intérieur du dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Changement de couleur au survol */
    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    /* Afficher le dropdown au survol */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .title-event-home {
        font-size: 1.2em;
    }

    #card-home-page-event {
        width: 100%;
    }

    .icons-events i {
        font-size: 1em;
    }

    .edit-link {
        font-size: 0.8em;
    }

    /********************* CATÉGORIE ET THÈME *********************/

    .detail-theme-category a {
        font-size: 0.8em;
        padding: 6px;
    }

    .detail-theme img {
        height: 200px;
    }

    #detail-event-theme {
        flex-direction: column;
    }

    /********************* PIED DE PAGE *********************/

    .footer {
        flex-direction: column;
    }
    .information-footer p{
        color: white;
        text-align: center;
    }
}

