/****************GENERAL******************/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: serif;
}
/* section{
    min-height: 100vh;
} */
/* body{
    min-height: 100vh;
} */
#main-content {
    display: flex;
    flex-direction: column;
}
title{
    text-align: center;
}
/***************************PARTIALS**************************/

#nav-constant{
    display: flex;
    flex-direction: row;
    padding: 0 30px 0 30px;
}
#nav-constant h1{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#nav-constant img{
    width: 85px;
}
#nav-constant a{
    text-decoration: none;
    color: black;
    margin: 5px 0 5px 0;
}
#nav-constant ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    gap: 5%;
    flex-direction: row;
}

#nav-constant li{
    list-style: none;
    
}
/*************Base.Html*******************/

#title_base{
    display: flex;
    flex-direction: row;
    padding: 0 30px 0 30px;
}
#title_base h1{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#title_base img{
    width: 85px;
}
#title_base a{
    text-decoration: none;
    color: black;
    margin: 5px 0 5px 0;
}
#title_base ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    gap: 5%;
    flex-direction: row;
}

#title_base li{
    list-style: none;
    
}

#home-header {
    position: relative;
    min-height: 60vh;
}
 
.videoHome {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}
 
.video-home-page::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 1) 100%); */
    z-index: 2;
}

.video-home-page p{
    font-size: 2em;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

#img-header{
    object-fit: cover;
    object-position: 50% 50%;
    padding: 50px;
}

.theme{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/**************CATEGORY*************/
.index_category_nav{
display: flex;
}
.category_nav{
    list-style: none;
}
.category_nav a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    border-radius: 5px;
    padding: 10px;
}
.category_nav a:hover {
    background: #282828;
    color: white;
}
.category_nav{
       padding: 10px;
}
.index_category{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.banniere-theme {
    min-height: 60vh;
    position: relative;
}

.img-banniere-theme {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-banniere-theme figure{
    height: 400px;
}

.img-banniere-theme img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#title-detail-category {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3em;
    min-height: 60vh;
    position: absolute;
    text-align: center;
    bottom: 25%; /* Ajustez cette valeur selon vos besoins */
    left: 50%; /* Ajustez cette valeur selon vos besoins */
    color: #fff; /* Couleur du texte, ajustez si nécessaire */
}


/********************HOME PAGE*******************/

#category-nav-home-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 10vh;
    align-items: center;
}

.nav-home-page{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title-event-home{
    text-align: center;
    font-size: 2em;
}

/**********************CARD PAGE D'ACCEUIL**************/

#title-home-page-main{
    display: flex;
    flex-direction: column;
}
#main-home-page{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card-home-page{
    min-height: 100vh;
    margin: 30px 0 30px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 50px;
    color: white;
}

#card-home-page-event{
    transition: transform .2s;
    float: left;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    padding: 16px;
    text-align: center;
    background-image: url(/img/randonnée.jpg);
}
#card-home-page-event:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

/* .zoom {
    margin: 0 auto;
  } */
  
#carousel-avis-home{  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#card-home-page-event img{
    width: 100%;
}

#card-home-page-event figcaption{
    display: flex;
    flex-direction: column;
    gap: 9px;
    text-align: center;
  padding: 10px 20px;
}

.icons-events{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.icons-events i{
    color: black;
}
.icons-events i:hover{
    color: white;
    
}
.fa-brands fa-gratipay:hover{
color: green;
background-color: white;

}

/****************COMMENTAIRES************/

#comment-home-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.title-commentaire-home{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title-commentaire-home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-home-avis{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    width: 70%;
    gap: 30px;
}


.card-home-page{
    display: flex;
    flex-direction: column;
    gap: 20;
}
#slide{
    /* position: absolute; */
    height: 50vh;
    border-style: ridge;
    border-color: black;
    border-width: thin;
    width: 25%;
    border-radius: 5px;
    padding: 25px;
}

/**********************PARALLAX***********************/

#parallax {
    background-image: url("/img/randonnée.jpg");
    display: flex;
    justify-content: center;
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
}
#parallax img {
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
    width: 100%
}
.parallax-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 20px;
}
.parallax-block button {
    padding: 10px;
    width: 13%;
    font-size: 1.2em;
    border-style: ridge;
    border-color: black;
    color: black;
    border-radius: 11px;
    background: rgba(0, 0, 0, 0.0);
}
.parallax-block p {
    font-size: 1.2em;
}


/***********************FOOTER******************/

footer{
    background-color: #282828;

}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url("/img/footer.jpg");
    /* background: linear-gradient(4deg, rgba(12,2,35,1) 0%, rgba(24,23,73,1) 41%, rgba(60,125,184,1) 100%); */
    color: white;
    padding: 50px 0px 20px 0px;
}
.text-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-footer a{
    text-decoration: none;
    color: violet;
}

small{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #282828;
}
.terms-footer{
    text-align: center;
    background-color: #282828;
    color: white;
}
.terms-footer a{
    color: violet;
}

.information-footer{
    border-style: ridge;
    border-color: black;
    border-width: thin;
    border-radius: 5px;
    padding: 10px;
}

/**************************CATEGORY*************************/

#theme-category{
    min-height: 100vh;
}
.detail-theme-category{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail-theme-category a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    border-style: ridge;
    border-color: black;
    border-width: thin;
    border-radius: 5px;
    padding: 10px;
}

/**********************THEME*********************/
#detail-event-theme{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.detail-theme{
        width: 100%;
        height: 100%;
        overflow: hidden;
}

.detail-theme figure{
    height: 400px;
}


.img-detail-theme img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#title-detail-theme {
    position: absolute;
    text-align: center;
    top: 50%; /* Ajustez cette valeur selon vos besoins */
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* Couleur du texte, ajustez si nécessaire */
}