{% block title %}Detail d'un theme{% endblock %}

{% block body %}
<h1>Detail d'un theme</h1>

{% if theme.events | length > 0 %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>event</th>
            </tr>
        </thead>
        <tbody>
            {# on va recuperer la collection que l'on veut dans l'entité de l'theme (theme.php) du coup nous faison theme.(nomm de la collection) #}
            {# grace a doctrine nous n'avons pas besoin de faire une requete qui sera ensuite géré dans le controller tout est deja fais automatiquement#}
            {% for event in theme.events %}
            <tr><td><a href=" {{ path('afficherDetail_event', {'id' :event.id}) }}">{{ event }} </a></td></tr><br>
            {% endfor %}
        </tbody>
    </table>
    
    {% else %}
        <p>Aucun salarié dans l'theme </p>
    {% endif %}
<a href="{{path('add_theme', {'theme_id': theme.id})}}" type="button" class="btn btn-success">Ajouter un evenement</a><br>

   
{% endblock %}