{% extends 'base.html.twig' %}

{% block title %}Detail d'un theme{% endblock %}

{% block body %}

<h1>{{theme.title}}</h1>

{% if theme.events | length > 0 %}
<div id="detail-event-theme">

            {# on va recuperer la collection que l'on veut dans l'entité de l'theme (theme.php) du coup nous faison theme.(nomm de la collection) #}
            {# grace a doctrine nous n'avons pas besoin de faire une requete qui sera ensuite géré dans le controller tout est deja fais automatiquement#}
            {% for event in theme.events %}
            <a href=" {{ path('afficherDetail_event', {'id' :event.id}) }}">{{ event }} </a><br>
            {% endfor %}

    
    {% else %}
        <p>Il n'a aucun event dans ce theme </p>
    {% endif %}

    <a href="{{ path('add_event', {'themeId': theme.id})}}" type="button" class="btn btn-success">Ajouter un event</a><br>
   
</div>
{% endblock %}